.titleText{
  font-size: 1.75rem;
}
.titleCross{
  font-size: 1.4rem;
}
.avatar-photo {
  padding: 0;
  margin: 0;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.share__btn{
  text-align: center;
  padding-top: 1.5rem;
}
