.avatar-photo {
  padding: 0;
  margin: 0;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
.upload__chip{
  margin-left: 0;
  font-size: 0.9rem;
}
.postAttachemnts{
  padding: 1rem;
}
.close__icon{
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}